<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="karazuki.mapper.NoblePhantasmDetailMapper">


    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into noble_phantasm_detail (nid, effect, effect_value)
        values
        <foreach collection="noblePhantasmDetailList" item="npd" separator=",">
            (#{npd.nid}, #{npd.effect}, #{npd.effectValue})
        </foreach>
    </insert>

</mapper>