<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="karazuki.mapper.ServantDataMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into servant_data (sid, data_key, `condition`, data_text, data_text_j, open_id)
        values
        (#{sid}, #{dataKey}, #{condition}, #{dataText}, #{dataTextJ}, #{openId})
    </insert>

    <update id="update">
        update servant_data
        <set>
            <if test="sid != null">
                sid = #{sid},
            </if>
            <if test="dataKey != null">
                data_key = #{dataKey},
            </if>
            <if test="condition != null">
                `condition` = #{condition},
            </if>
            <if test="dataText != null">
                data_text = #{dataText},
            </if>
            <if test="dateTextJ != null">
                data_text_j = #{dataTextJ},
            </if>
            <if test="openId != null">
                open_id = #{openId}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>