<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="karazuki.mapper.SkillMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into skill (sid, skill_type, number, charge_rank, cname, jname, rankup_num, `condition`, rankup_id)
        values
        (#{sid}, #{skillType}, #{number}, #{chargeRank}, #{cname}, #{jname}, #{rankupNum}, #{condition}, #{rankId})
    </insert>
</mapper>