<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="karazuki.mapper.SkillDetailMapper">


    <insert id="insertBatch">
        insert into skill_detail (skill_id, description, value)
        values
        <foreach collection="skillDetailList" item="sd" separator=",">
            (#{sd.skillId}, #{sd.description}, #{sd.value})
        </foreach>
    </insert>
</mapper>