<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="karazuki.mapper.SpecialAttackMapper">


    <select id="findByCharas" resultType="entity.SpecialAttack">
        select * from special_attack
        <where>
            obj in
            <foreach collection="saSearches" item="saS" open="(" close=")" separator=",">
                #{saS}
            </foreach>
        </where>
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into special_attack (sid, type, obj)
        values (#{sid}, #{type}, #{obj})
    </insert>

    <update id="update">
        update special_attack
        <set>
            <if test="sid != null">
                sid = #{sid},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="obj != null">
                obj = #{obj}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>